* {
    box-sizing: border-box;
}

body {
    background-color: rgb(112, 202, 112);
    color: rgba(3, 61, 3, 0.582);
    text-align: center;
    margin: 20px;
}



/* Main Header */
#title {
    color: rgba(255, 255, 255, 0.603) ;
    background-color: rgba(95, 6, 122, 0.808);
    text-decoration: none ;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    filter: drop-shadow( 0 0 0.75rem rgba(123, 27, 212, 0.993));
    text-shadow: 1px 1px 0px black ;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -20px;
}

.flex-container {
    display: flex

}

.flex-container span {
    border: 4px solid rgba(3, 61, 3, 0.582);
    height: 500;
    flex: 1;
}
/* allows img + links to be on the same plane */
.name {
    display: inline-block;
    writing-mode:horizontal-tb;
    margin-top: 50px;
}

h1,h3,h4,h5,h6 {
    color: rgba(255, 255, 255, 0.603) ;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 1px 1px 0px black ;
}

ul, ol {
    text-align: left;
}

img {
    height: 150px;
    width: 250px;
    align-items:baseline
}